<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pikolive.module">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>


        <provider
            android:name=".ad.AdManagerProvider"
            android:authorities="${applicationId}.admanagerprovider"
            android:exported="false" />

        <provider
            android:name=".lifecycle.AppManagerProvider"
            android:authorities="${applicationId}.appmanagerprovider"
            android:exported="false" />


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider${applicationId}"
            android:exported="true" />

        <!--        AdMob 使用的-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />

        <!--        提供給 Facebook 登入使用的-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/login_facebook_applicationId" />


    </application>
</manifest>
